  /* For the navigation bar */

/*
@media (max-width: 991px)
{
  #nav-list
  {
    margin-right: 130px;
  }
}

@media (min-width: 1200px)
{
  #nav-list
  {
    margin-right: 40px;
    margin-top: 10px;
  }
}
*/





